@charset "utf-8";

body {
  font-family: "Nanum Gothic", sans-serif;

  color: #222;
  font-size: 13px;
  font-weight: normal;

  line-height: 1.5;
}

/* margin, padding */
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt45 {
  margin-top: 45px !important;
}
.mt50 {
  margin-top: 50px !important;
}

/* skip navigation */
#skip {
  position: relative;
}

#skip a {
  position: absolute;

  top: -35px;
  left: 0;

  width: 160px;

  line-height: 30px;

  text-align: center;

  border: 1px solid #fff;

  color: #fff;
  background: #333;
}

#skip a:active,
#skip a:focus {
  top: 0;
}

/* layouts */
#wrap {
}

#header {
  height: 325px;

  background: url(../img/header_bg.jpg) center top repeat-x;
}

#contents {
}

#footer {
  height: 200px;

  background: #333;
}

/* cont_layout */
#cont_nav {
  background: #f6fdff;
}

#cont_tit {
  background: #eaf7fd;
}

#cont_ban {
  background: #dceff7;
}

#cont_cont {
  background: #f6fdff;
}

/* container */
.container {
  width: 990px;
  height: inherit;

  margin: 0 auto;

  /* background: rgba(255, 255, 255, 0.3); */
}

/* header */
.header .header_menu {
  text-align: right;
}

.header .header_menu a {
  color: #fff;

  padding: 10px 0px 10px 13px;

  display: inline-block;
}

.header .header_menu a:hover {
  color: #666;
}

.header .header_tit {
  text-align: center;
}

.header .header_tit h1 {
  display: inline-block;

  background: #4aa8d4;

  color: #fff;
  font-size: 28px;

  text-transform: uppercase;

  padding: 5px 20px 6px 20px;

  margin-top: 40px;
}

.header .header_tit a {
  background: #2698cb;

  color: #fff;
  font-size: 18px;

  padding: 5px 20px 6px 20px;
}

.header .header_icon {
  text-align: center;

  margin-top: 30px;
}

.header .header_icon a {
  display: inline-block;

  width: 60px;
  height: 60px;

  margin: 0px 3px;

  background: url(../img/icon.png);
}

.header .header_icon a.icon1 {
  background-position: 0 0;
}

.header .header_icon a.icon2 {
  background-position: 0 -60px;
}

.header .header_icon a.icon3 {
  background-position: 0 -120px;
}

.header .header_icon a.icon4 {
  background-position: 0 -180px;
}

/* icon hover */
.header .header_icon a.icon1:hover {
  background-position: -60px 0;
}

.header .header_icon a.icon2:hover {
  background-position: -60px -60px;
}

.header .header_icon a.icon3:hover {
  background-position: -60px -120px;
}

.header .header_icon a.icon4:hover {
  background-position: -60px -180px;
}

/* IR 효과 */
/* 1. 의미있는 이미지의 대체 텍스트를 제고하는 경우 사용 */
.ir_pm {
  display: block;

  overflow: hidden;

  font-size: 0;
  line-height: 0;

  text-indent: -999px;
}

/* 2. 의미있는 이미지의 대체 텍스트로 이미지가 없어도 텍스트를 보여주고자 할 경우 사용 */
/* .ir_wa {
  display: block;

  width: 100%;
  height: 100%;

  overflow: hidden;

  position: relative;

  z-index: -1;
} */

/* 3. 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 사용 */
.ir_su {
  overflow: hidden;

  position: absolute;

  width: 0;
  height: 0;

  line-height: 0;

  text-indent: -999px;
}

/* {float : left} 로 인한 영영깨짐 => {height : 0} 방지법
      1.깨지는 영역에 똑같이 float : left 사용
          => 좋지 않음 : 모든 박스에 float : left 를 사용해야함
      2. float 의 성질을 차단하는 clear : both 를 사용
          => 좋지 않음 : 어떤 영역이 깨졌는지 찾기 어려움
      3. float 을 사용한 상위박스한테 overflow : hidden 을 사용
          => 사용 : 현재는 가장 많이 사용
      4. clearfix 를 사용
          => 제일 좋은 방법
      
*/
/* all menu */
.nav {
  overflow: hidden;

  padding: 30px 0;
}

.nav > div {
  width: 40%;

  float: left;
}

/* :last-child => ie9부터 사용 가능 */
.nav > div:last-child {
  width: 20%;
}

.nav > div.last {
  width: 20%;
}

.nav > div ol {
  overflow: hidden;
}

.nav > div ol li {
  width: 50%;

  float: left;
}

.nav > div.last ol li {
  width: 100%;
}

.nav > div h3 {
  color: #25a2d0;

  font-size: 18px;

  margin-bottom: 4px;
}

.nav > div ol li a:hover {
  text-decoration: underline;
}

/* cont_tit */
.tit {
  position: relative;
}

.tit h2 {
  color: #2c94c4;

  font-size: 40px;
  font-family: "Nanum Brush Script", cursive;

  text-align: center;

  letter-spacing: 2px;

  padding: 5px 0px;
}

.tit .btn {
  position: absolute;

  top: 5px;
  right: 0;

  width: 60px;
  height: 60px;

  background: url(../img/icon.png) no-repeat 0px -600px;
}

/* cont_ban */
.ban {
  position: relative;

  padding: 24px 0px 20px 0px;
}

.ban a.prev {
  width: 43px;
  height: 43px;

  position: absolute;

  top: 60px;
  left: -80px;

  background: url(../img/icon.png) no-repeat -150px 0px;
}

.ban a.prev:hover {
  background-position: -193px 0px;
}

.ban a.next {
  width: 43px;
  height: 43px;

  position: absolute;

  top: 60px;
  right: -80px;

  background: url(../img/icon.png) no-repeat -150px -43px;
}

.ban a.next:hover {
  background-position: -193px -43px;
}

.ban ul {
  overflow: hidden;
}

.ban .ban_img1 {
  text-align: left;
}

.ban .ban_img2 {
  text-align: center;
}

.ban .ban_img3 {
  text-align: right;
}

.ban ul li {
  width: 330px;

  float: left;
}

.ban ul li img {
  border: 4px solid #dcdcdc;
}

.ban ul li img:hover {
  border-color: #98bcdc;
}

.ban ul li:nth-child(2) {
  text-align: center;
}

.ban ul li:last-child {
  text-align: right;
}

/* cont_cont */
.cont {
  overflow: hidden;

  padding-top: 30px;
}

.cont .column {
  width: 289px;
  height: 363px;

  position: relative;

  float: left;

  margin: 0px 30px 30px 0px;
  padding-right: 30px;
}

.cont .col1 {
  border-right: 1px solid #c8c8c8;
}

.cont .col2 {
  border-right: 1px solid #c8c8c8;
}

.cont .col3 {
  margin-right: 0;
  padding-right: 0;
}

.cont .col4 {
  border-right: 1px solid #c8c8c8;
}

.cont .col5 {
  border-right: 1px solid #c8c8c8;
}

.cont .col6 {
  margin-right: 0;
  padding-right: 0;
}

.cont .column .ico_img {
  width: 60px;
  height: 60px;

  display: block;

  background: url(../img/icon.png) no-repeat;

  position: absolute;

  top: 0;
  left: 0;
}

.cont .column .ico_tit {
  padding-left: 70px;

  color: #2c94c4;
  font-size: 16px;
}

.cont .column .ico_desc {
  padding-left: 70px;
  padding-bottom: 15px;

  border-bottom: 1px solid #d0d0d0;

  margin-bottom: 15px;
}

.cont .col1 .ico_img {
  background-position: 0px -240px;
}

.cont .col2 .ico_img {
  background-position: 0px -300px;
}

.cont .col3 .ico_img {
  background-position: 0px -360px;
}

.cont .col4 .ico_img {
  background-position: 0px -420px;
}

.cont .col5 .ico_img {
  background-position: 0px -480px;
}

.cont .col6 .ico_img {
  background-position: 0px -540px;
}

.cont .col1 .ico_img:hover {
  background-position: -60px -240px;
}

.cont .col2 .ico_img:hover {
  background-position: -60px -300px;
}

.cont .col3 .ico_img:hover {
  background-position: -60px -360px;
}

.cont .col4 .ico_img:hover {
  background-position: -60px -420px;
}

.cont .col5 .ico_img:hover {
  background-position: -60px -480px;
}

.cont .col6 .ico_img:hover {
  background-position: -60px -540px;
}

/* Notice */
.notice {
  position: relative;
}

.notice h4 {
  color: #0093bd;

  font-size: 14px;
  font-weight: bold;

  padding-bottom: 3px;
}

.notice ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  background: url(../img/dot.gif) no-repeat 0px 8px;

  padding-left: 8px;
}

.notice ul li a {
  font-size: 12px;
}

.notice ul li:hover a {
  text-decoration: underline;
}

.notice a.more {
  width: 17px;
  height: 17px;

  position: absolute;

  top: 0;
  right: 0;

  display: block;

  background: url(../img/icon.png) no-repeat -150px -90px;
}

.notice a.more:hover {
  background-position: -167px -90px;
}

/* Notice2 */
.notice2 {
  position: relative;

  margin-top: 15px;
}

.notice2 h4 {
  color: #0093bd;

  font-size: 14px;
  font-weight: bold;

  padding-bottom: 3px;
}

.notice2 li {
  overflow: hidden;

  background: url(../img/dot.gif) no-repeat 0px 8px;

  padding-left: 8px;
}

.notice2 li a {
  width: 65%;

  float: left;

  font-size: 12px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notice2 li:hover a,
.notice2 li:hover span {
  text-decoration: underline;
}

.notice2 li span {
  width: 30%;

  float: right;

  font-size: 12px;

  text-align: right;
}

.notice2 a.more {
  width: 17px;
  height: 17px;

  position: absolute;

  top: 0;
  right: 0;

  display: block;

  background: url(../img/icon.png) no-repeat -150px -90px;
}

.notice2 a.more:hover {
  background-position: -167px -90px;
}

/* Notice3 */
.notice3 {
  position: relative;
}

.notice3 h4 {
  color: #0093bd;

  font-size: 14px;
  font-weight: bold;

  padding-bottom: 3px;
}

.notice3 li {
  position: relative;

  padding: 8px 0px 14px 60px;
}

.notice3 li a img {
  width: 50px;

  position: absolute;

  top: 0;
  left: 0;

  border: 1px solid #0093bd;
}

.notice3 li a strong {
  display: block;
}

.notice3 li:hover a strong {
  font-weight: bold;

  text-decoration: underline;
}

.notice3 li a span {
  display: block;

  font-size: 12px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notice3 li:hover a span {
  text-decoration: underline;
}

.notice3 a.more {
  width: 17px;
  height: 17px;

  position: absolute;

  top: 0;
  right: 0;

  display: block;

  background: url(../img/icon.png) no-repeat -150px -90px;
}

.notice3 a.more:hover {
  background-position: -167px -90px;
}

/* Notice4 _ Mouse Hover */
.notice_hover h4 {
  color: #0093bd;

  font-size: 14px;
  font-weight: bold;

  padding-bottom: 3px;
}

.notice_hover ul {
  overflow: hidden;
}

.notice_hover li {
  width: 93px;

  float: left;

  margin-right: 5px;

  text-align: center;
}

.notice_hover li:nth-child(3) {
  margin-right: 0;
}

.notice_hover li.last {
  margin-right: 0;
}

.notice_hover li a span {
  width: 93px;
  height: 93px;

  position: relative;

  display: block;

  line-height: 93px;
}

.notice_hover li a span img {
  width: 100%;
}

.notice_hover li a span em {
  visibility: hidden;

  width: 100%;
  height: 100%;

  position: absolute;

  top: 0;
  left: 0;

  color: #fff;

  background: rgba(0, 0, 0, 0.7);
}

.notice_hover li a span:hover em {
  visibility: visible;
}

.notice_hover li a strong {
  display: inline-block;

  padding-top: 3px;

  font-weight: 12px;
}

/* Notice4 _ Mouse Hover2 */

.notice_hover2 ul {
  overflow: hidden;
}

.notice_hover2 li {
  width: 93px;

  float: left;

  margin-right: 5px;

  text-align: center;
}

.notice_hover2 li:nth-child(3) {
  margin-right: 0;
}

.notice_hover2 li.last {
  margin-right: 0;
}

.notice_hover2 li a span {
  width: 93px;
  height: 93px;

  position: relative;

  display: block;
}

.notice_hover2 li a span img {
  width: 100%;
}

.notice_hover2 li a span em {
  visibility: hidden;

  width: 100%;

  position: absolute;

  left: 0;
  bottom: 0;

  color: #fff;

  background: rgba(0, 0, 0, 0.7);
}

.notice_hover2 li a span:hover em {
  visibility: visible;
}

.notice_hover2 li a strong {
  display: inline-block;

  padding-top: 3px;

  font-weight: 12px;
}
